<h2>My Heroes</h2>

<!--
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>
-->
<!--[class.selected]="hero === selectedHero"
(click)="onSelect(hero)"-->

<div>
    <label>Usuario name:
        <input #userName />
    </label>
    <label>Email :
        <input #userEmail />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(userName.value, userEmail.value); userName.value=''; userEmail.value='';">
        add
    </button>
</div>


<ul class="heroes">
    <li *ngFor="let use of ListUser">
        <div class="ClassName">
            <a routerLink="/detail/{{use.id}}">
                <span class="badge">{{use.name}}</span>
            </a>
        </div>
        <div class="UserDados">
            {{use.email}}
        </div>
        <div class="UserBtList">
            <button class="delete" title="delete user" (click)="delete(use.id)">x</button>
        </div>


    </li>
</ul>
